#por-que-investir {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f5f5;
  color: #187769;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.benefits {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px; 
  padding: 20px;
}

.card {
  background-color: #b1d8d1;
  color: #187769;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 25%; 
  min-width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: #187769 5px solid;
}
